*{
    box-sizing: border-box;
    padding: 5px;
}

ul {
    list-style-type: none;
}

p{
    font-family: Verdana, sans-serif;
    font-size: 20px;
}

li{
    border: 1px solid #6278B0;
    margin-bottom: 10px;
}